/* --- VARIABLES SASS --- */
$primary: #2c5e3b; /* Verde Bosque */
$secondary: #f37021; /* Naranja Trail */
$dark: #1a1a1a;
$light: #f8f9fa;
$font-heading: "Montserrat", sans-serif;
$font-body: "Open Sans", sans-serif;